@using Hena;
@using Hena.Security.Claims;
@using Microsoft.AspNetCore.Html;
@using System;
@using System.Text;
@{
	Layout = null;

	string[] headCSS = WebServiceUtility.ToStringArrayForce(ViewData["head-css"]);
	string[] headScripts = WebServiceUtility.ToStringArrayForce(ViewData["head-scripts"]);
	string[] pageScripts = WebServiceUtility.ToStringArrayForce(ViewData["page-scripts"]);

	string pageId = WebServiceUtility.ToStringForce(ViewData["page-id"]);

	Func<string, string, string, string, IHtmlContent> DrawMenuItem = (string menuId, string title, string iconClasses, string url) =>
	{

		StringBuilder builder = new StringBuilder(1024);
		builder.AppendLine($"<li id='{menuId}'>");
		if (menuId == pageId)
		{
			builder.AppendLine($"<a class='active' href='{url}'>");
		}
		else
		{
			builder.AppendLine($"<a href='{url}'>");
		}
		builder.AppendLine($"<i class='{iconClasses}'></i>");
		builder.AppendLine($"<span>{title}</span>");
		builder.AppendLine("</a>");
		builder.AppendLine("</li>");
		return Html.Raw(builder.ToString());
	};

	Func<string, string, string, string, IHtmlContent> BeginSubMenu = (string menuId, string title, string iconClasses, string url) =>
	{

		StringBuilder builder = new StringBuilder(1024);
		builder.AppendLine($"<li id='{menuId}' class='sub-menu'>");
		if (menuId == pageId)
		{
			builder.AppendLine($"<a class='active' href='{url}'>");
		}
		else
		{
			builder.AppendLine($"<a href='{url}'>");
		}
		builder.AppendLine($"<i class='{iconClasses}'></i>");
		builder.AppendLine($"<span>{title}</span>");
		builder.AppendLine("</a>");
		builder.AppendLine("<ul>");
		return Html.Raw(builder.ToString());
	};

	Func<string, string, string, IHtmlContent> DrawSubMenuItem = (string menuId, string title, string url) =>
	{
		if(menuId == pageId)
		{
			return Html.Raw($"<li id='{menuId}'><a class='active' href='{url}'>{title}</a></li>");
		}
		else
		{
			return Html.Raw($"<li id='{menuId}'><a href='{url}'>{title}</a></li>");
		}
	};

	Func<IHtmlContent> EndSubMenu = () =>
	{
		return Html.Raw("</ul></li>");
	};
}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Hena EcoSystem">
	<meta name="keyword" content="">
	<link rel="shortcut icon" href="~/dashboard/img/favicon.png">

	<title>Hena AIC</title>

	<!-- Bootstrap core CSS -->
	<link href="~/dashboard/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/dashboard/css/bootstrap-reset.css" rel="stylesheet">

	<!--external css-->
	<link href="~/dashboard/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="~/dashboard/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="~/dashboard/css/owl.carousel.css" rel="stylesheet" type="text/css">

	<!--right slidebar-->
	<link href="~/dashboard/css/slidebars.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="~/dashboard/css/style.css" rel="stylesheet">
	<link href="~/dashboard/css/style-responsive.css" rel="stylesheet" />

	@foreach (var it in headCSS)
	{
		<link href="@it" rel="stylesheet" />
	}

	@foreach (var it in headScripts)
	{
		<script src="@it"></script>
	}
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
	<!--[if lt IE 9]>
	  <script src="~/dashboard/js/html5shiv.js"></script>
	  <script src="~/dashboard/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

	<section id="container">
		<!--header start-->
		<header class="header white-bg">
			<div class="sidebar-toggle-box">
				<i class="fa fa-bars"></i>
			</div>
			<!--logo start-->
			<a href="@Url.Action("Index", "Dashboard")" class="logo">Hena-AIC</a>
			<!--logo end-->

			<div class="top-nav ">
				<!--search & user info start-->
				<ul class="nav pull-right top-menu">
					<!-- user login dropdown start-->
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<img alt="" src="~/dashboard/img/avatar-mini.jpg">
							<span class="username">@User.FindFirst(HenaClaimTypes.Email).Value</span>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu extended logout">
							<li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
							<li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
							<li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
							<li><a href="@Url.Action("Logout", "User")"><i class="fa fa-key"></i> Log Out</a></li>
						</ul>
					</li>
					<!-- user login dropdown end -->
				</ul>
				<!--search & user info end-->
			</div>
		</header>
		<!--header end-->
		<!--sidebar start-->
		<aside>
			<div id="sidebar" class="nav-collapse ">
				<!-- sidebar menu start-->
				<ul class="sidebar-menu" id="nav-accordion">
					@DrawMenuItem("page-dashboard", "Dashboard", "fa fa-dashboard", Url.Action("Index", "Dashboard"))
					@BeginSubMenu("page-apps", "Apps", "fa fa-laptop", "javascript:;")
					@DrawSubMenuItem("page-apps-list", "App List", Url.Action("List", "Apps"))
					@EndSubMenu()
					@DrawMenuItem("page-campaigns", "Campaigns", "fa fa-bullhorn", Url.Action("Index", "Campaigns"))
				</ul>
				<!-- sidebar menu end-->
			</div>
		</aside>
		<!--sidebar end-->
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				@RenderBody()
			</section>
		</section>
		<!--main content end-->
		<!--footer start-->
		<footer class="site-footer">
			<div class="text-center">
				2018 &copy; Hena EcoSystem.
				<a href="#" class="go-top">
					<i class="fa fa-angle-up"></i>
				</a>
			</div>
		</footer>
		<!--footer end-->
	</section>

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="~/dashboard/js/jquery.js"></script>
	<script src="~/dashboard/js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript" src="~/dashboard/js/jquery.dcjqaccordion.2.7.js"></script>
	<script src="~/dashboard/js/jquery.scrollTo.min.js"></script>
	<script src="~/dashboard/js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="~/dashboard/js/jquery.sparkline.js" type="text/javascript"></script>
	<script src="~/dashboard/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
	<script src="~/dashboard/js/owl.carousel.js"></script>
	<script src="~/dashboard/js/jquery.customSelect.min.js"></script>
	<script src="~/dashboard/js/respond.min.js"></script>

	<script type="text/javascript" src="~/dashboard/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="~/dashboard/assets/bootstrap-daterangepicker/date.js"></script>
	<script type="text/javascript" src="~/dashboard/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript" src="~/dashboard/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

	<!--right slidebar-->
	<script src="~/dashboard/js/slidebars.min.js"></script>

	<!--common script for all pages-->
	<script src="~/dashboard/js/common-scripts.js"></script>

	<!--script for this page-->
	<script src="~/dashboard/js/sparkline-chart.js"></script>
	<script src="~/dashboard/js/easy-pie-chart.js"></script>
	<script src="~/dashboard/js/count.js"></script>

	<script>

		//owl carousel

		//$(document).ready(function () {
		//	$("#owl-demo").owlCarousel({
		//		navigation: true,
		//		slideSpeed: 300,
		//		paginationSpeed: 400,
		//		singleItem: true,
		//		autoPlay: true

		//	});
		//});

		//custom select box

		$(function () {
			$('select.styled').customSelect();
		});

				//$(window).on("resize", function () {
				//	var owl = $("#owl-demo").data("owlCarousel");
				//	owl.reinit();
				//});

	</script>

	@foreach (var it in pageScripts)
	{
		<script src="~/@it"></script>
	}

</body>
</html>
